extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/login.css")

block contents
  .container
    include ../../includes/nav.pug

    section.form
      form(action="/login" method="post")
        .form-group
          label(for="email") EMAIL
          input(type="email" name="email" required)
        .form-group
          label(for="password") PASSWORD
          input(type="password" name="password" required)
        .form-group
          button(type="submit") LOGIN
        .form-register
          span Don't have an account? 
            a(href="/register") Register 

    include ../../includes/footer.pug