extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/order.css")

block contents
  .header
    include ../../includes/headerNav.pug

  section.header-title.text-center
    h2 ORDERS

  if !orders
    section.text-center.empty-order.mt-3.mb-5.px-2
      p Nothing Here.
      button.btn.btn-lg.mt-3
        a(href="/shop") RETURN TO SHOP
  else
    div.ptb
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae atque dolorum ullam distinctio aliquid labore eum amet incidunt ex molestiae!

  .footer-light
    include ../../includes/footer.pug
