.header {
   &__banner {
      background: black;
      padding: 10px;
      display: flex;
      align-items: center;
      color: white;

      a {
         text-decoration: none;
         color: white;
      }

      &-logo {
         width: calc(100% - 180px);

         a {
            font-family: "Pacifico", cursive;
            font-size: 2rem;
         }
      }

      &-auth {
         width: 140px;
         cursor: pointer;

         span {
            font-size: 1.5rem;

            &:hover {
               color: wheat;
            }
         }
      }

      &-cart {
         width: 40px;

         a {
            font-size: 2.5rem;
         }
      }
   }
}

@media screen and (max-width: 350px) {
   .header {
      &__banner {
         &-logo a,
         &-auth span {
            font-size: 1.5rem;
         }
      }
   }
}

@media screen and (max-width: 310px) {
   .header {
      position: relative;

      &__banner {
         flex-direction: column;

         div {
            text-align: center;
            width: 100%;
            padding: 8px 5px;
         }
      }
   }
}
