.header {
   &__hero {
      &-nav {
         width: 100%;
         height: 50px;
         position: absolute;
         text-align: center;
         background: rgba(26, 25, 25, 0.3);
         z-index: 2;
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;

         a {
            color: white;
            font-weight: 600;
            font-size: 1.4rem;
            text-decoration: none;

            &:not(:last-child) {
               margin-right: 15px;
            }

            &:hover {
               color: wheat;
            }
         }
      }
   }
}
