.header {
   position: relative;

   &__nav {
      width: 100%;
      position: relative;
      background: $ashBlack;
      z-index: 2;
      display: flex;
      align-items: center;
      padding: 20px 10px;

      &-logo {
         width: 150px;

         a {
            font-family: "Pacifico", cursive;
            font-size: 2rem;
            color: white;
            font-weight: 600;
            text-decoration: none;
         }
      }
   }
}
