nav(class="navbar navbar-expand-md navbar-dark bg-dark py-4")
  a(class="navbar-brand" href="/home")
    span FASHIONIT
  button(class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse"
    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
    aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")

  div(class="collapse navbar-collapse" id="collapsibleNavId")
    ul(class="navbar-nav ml-auto")

      li.nav-item.mr-3
        if path !== "/shop"
          a(href="/shop" class="nav-link") SHOP

      li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") CATEGORIES

        div(class="dropdown-menu bg-dark text-center" aria-labelledby="navbarDropdown")
          a(class="dropdown-item" href="#") MEN
          a(class="dropdown-item" href="#") WOMEN 

      if isAuthenticated && path !== "/order"
        li.nav-item.mr-3
          a(href="/order" class="nav-link") ORDERS

      if path !== "/cart"
        li.nav-item.mr-3
          a(href="/cart" class="nav-link")
            i.fa.fa-cart-arrow-down(aria-hidden="true")

      ul(class="mx-md-5 px-md-5 d-flex align-items-center")

        if !isAuthenticated
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              i.fa.fa-user(aria-hidden="true")

            div(class="dropdown-menu bg-dark text-center" aria-labelledby="authDropdown")
              a(class="dropdown-item" href="/login") LOGIN
              a(class="dropdown-item" href="/register") SIGN UP
        else
          li.nav-item
            form(action="/logout" method="post")
              input(type="hidden" name="_csrf" value=csrfToken)
              button(type="submit" class="nav-link btn") LOGOUT
