nav.header__nav.text-center
  div.header__nav-logo
    a(href="#") FASHIONIT

  div.header__nav-bar#menu
    div.header__nav-links
      a(href="/shop") SHOP
      div.categories
        span#categories CATEGORIES
        ul.categories-dropdown
          li
            a(href="#") MEN
          li
            a(href="#") WOMEN
      a(href="/shop/orders") ORDERS

  div.header__nav-auth.text-center
    div.header__auth-container
      div.auth
        i.fa.fa-user#auth(aria-hidden="true")

        ul.auth-dropdown
          li
            a(href="/login") LOG IN
          li
            a(href="/register") REGISTER

  div.header__nav-cart.text-center
    a(href="/checkout")
      i.fa.fa-cart-arrow-down(aria-hidden="true")

  div.header__nav-toggle 
    i.fa.fa-bars(aria-hidden="true" data-toggle="true" id="hambuger-menu")
