.header {
  position: relative;
}
.header__nav {
  width: 100%;
  position: relative;
  background: #181717;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.header__nav-logo {
  width: 100px;
}
.header__nav-logo a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}
.header__nav-toggle {
  width: calc(100% - 100px);
  text-align: right;
  display: none;
}
.header__nav-toggle i {
  color: #fff;
  font-size: 3rem;
}
.header__nav-bar {
  position: relative;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  background: #252525;
  width: 150px;
  padding: 20px 5px;
  list-style: none;
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 10;
}
.header__nav ul a {
  display: block;
  color: #fff;
  width: 100%;
  padding: 10px 2px;
}
.header__nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.header__nav-links {
  width: calc(100% - 80px);
  color: #fff;
}
.header__nav-links .categories {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
.header__nav-links .categories span {
  font-size: 1.4rem;
  font-weight: 600;
}
.header__nav-links .categories span:hover {
  color: wheat;
}
.header__nav-links a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.header__nav-links a:not(:last-child) {
  margin-right: 15px;
}
.header__nav-links a:hover {
  color: wheat;
}
.header__nav-auth {
  width: 40px;
}
.header__nav-auth .auth {
  color: #fff;
  position: relative;
  display: inline-block;
}
.header__nav-auth .auth .fa {
  font-size: 3rem;
}
.header__nav-auth .auth .fa:hover {
  color: wheat;
}
.header__nav-auth .auth ul a {
  font-size: 1.4rem;
}
.header__nav-auth .auth ul a:hover {
  color: wheat;
}
.header__nav-cart {
  width: 40px;
}
.header__nav-cart a i {
  font-size: 2.5rem;
}
.header__nav .categories-dropdown,
.header__nav .auth-dropdown {
  display: none;
}
.header .show-menu {
  display: inline-block;
}
.header .show-dropdown {
  display: block;
}

@media screen and (max-width: 650px) {
  .header__nav {
    text-align: left;
  }
  .header__nav-toggle {
    display: inline-block;
  }
  .header__nav-toggle i:hover {
    color: wheat;
  }
  .header__nav-bar {
    position: absolute;
    top: -300px;
    left: 0;
    background: #000;
    z-index: 1000;
    width: 200px;
    padding: 40px 20px;
    flex-direction: column;
  }
  .header__nav-bar .categories ul {
    top: 30px;
  }
  .header__nav-bar .auth ul {
    top: 40px;
  }
  .header__nav-bar .auth ul li > a:hover,
.header__nav-bar .categories ul li > a:hover {
    color: orangered !important;
  }
  .header__nav-bar .auth ul li:hover,
.header__nav-bar .categories ul li:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-bar span,
.header__nav-bar a,
.header__nav-bar i {
    padding: 10px 2px;
  }
  .header__nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header__nav-links .categories,
.header__nav-links a,
.header__nav-links span {
    display: inline-block;
    width: 100%;
  }
  .header__nav-links .categories span:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-links a:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-auth {
    text-align: left;
    width: 100%;
  }
  .header__nav-auth .auth {
    width: 100%;
  }
  .header__nav-auth .auth .fa {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
  }
  .header__nav-auth .auth .fa:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-cart {
    text-align: left;
    width: 100%;
  }
  .header__nav-cart a {
    display: inline-block;
    width: 100%;
  }
  .header__nav-cart a .fa {
    display: inline-block;
    width: 100%;
  }
  .header__nav-cart a .fa:hover {
    background: #fff;
    color: orangered;
  }
}

/*# sourceMappingURL=headerNav.css.map */
