.header {
  position: relative;
}

.header__nav {
  width: 100%;
  position: relative;
  background: #181717;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.header__nav-logo {
  width: 100px;
}
.header__nav-logo a {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}
.header__nav-toggle {
  width: calc(100% - 100px);
  text-align: right;
  display: none;
}
.header__nav-toggle i {
  color: #fff;
  font-size: 3rem;
}
.header__nav-bar {
  position: relative;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  background: #252525;
  width: 150px;
  padding: 20px 5px;
  list-style: none;
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 10;
}
.header__nav ul a {
  display: block;
  color: #fff;
  width: 100%;
  padding: 10px 2px;
}
.header__nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.header__nav-links {
  width: calc(100% - 80px);
  color: #fff;
}
.header__nav-links .categories {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
.header__nav-links .categories span {
  font-size: 1.4rem;
  font-weight: 600;
}
.header__nav-links .categories span:hover {
  color: wheat;
}
.header__nav-links a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.header__nav-links a:not(:last-child) {
  margin-right: 15px;
}
.header__nav-links a:hover {
  color: wheat;
}
.header__nav-auth {
  width: 40px;
}
.header__nav-auth .auth {
  color: #fff;
  position: relative;
  display: inline-block;
}
.header__nav-auth .auth .fa {
  font-size: 3rem;
}
.header__nav-auth .auth .fa:hover {
  color: wheat;
}
.header__nav-auth .auth ul a {
  font-size: 1.4rem;
}
.header__nav-auth .auth ul a:hover {
  color: wheat;
}
.header__nav-cart {
  width: 40px;
}
.header__nav-cart a i {
  font-size: 2.5rem;
}
.header__nav .categories-dropdown,
.header__nav .auth-dropdown {
  display: none;
}
.header .show-menu {
  display: inline-block;
}
.header .show-dropdown {
  display: block;
}

@media screen and (max-width: 650px) {
  .header {
    overflow: hidden;
  }
  .header__nav {
    text-align: left;
  }
  .header__nav-toggle {
    display: inline-block;
  }
  .header__nav-toggle i:hover {
    color: wheat;
  }
  .header__nav-bar {
    position: absolute;
    top: -300px;
    left: 0;
    background: #000;
    z-index: 1000;
    width: 200px;
    padding: 40px 20px;
    flex-direction: column;
  }
  .header__nav-bar .categories ul {
    top: 30px;
  }
  .header__nav-bar .auth ul {
    top: 40px;
  }
  .header__nav-bar .auth ul li > a:hover,
.header__nav-bar .categories ul li > a:hover {
    color: orangered !important;
  }
  .header__nav-bar .auth ul li:hover,
.header__nav-bar .categories ul li:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-bar span,
.header__nav-bar a,
.header__nav-bar i {
    padding: 10px 2px;
  }
  .header__nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header__nav-links .categories,
.header__nav-links a,
.header__nav-links span {
    display: inline-block;
    width: 100%;
  }
  .header__nav-links .categories span:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-links a:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-auth {
    text-align: left;
    width: 100%;
  }
  .header__nav-auth .auth {
    width: 100%;
  }
  .header__nav-auth .auth .fa {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
  }
  .header__nav-auth .auth .fa:hover {
    background: #fff;
    color: orangered;
  }
  .header__nav-cart {
    text-align: left;
    width: 100%;
  }
  .header__nav-cart a {
    display: inline-block;
    width: 100%;
  }
  .header__nav-cart a .fa {
    display: inline-block;
    width: 100%;
  }
  .header__nav-cart a .fa:hover {
    background: #fff;
    color: orangered;
  }
}
.header__hero {
  position: relative;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/heroBG.jpg);
  background-position: 20% center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
}
.header__hero-text {
  width: 100%;
  text-align: center;
  align-self: center;
  color: #fff;
  padding: 0 20px;
}
.header__hero-text p {
  font-size: 2rem;
  font-weight: bold;
}
.header__hero-text h3 {
  font-size: 2.2rem;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  background: orangered;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  z-index: 1;
}
.header__hero-text h3::before {
  position: absolute;
  top: 0;
  content: "";
  width: 90%;
  height: 121px;
  z-index: -1;
  background: transparent;
  box-shadow: 0 1px 10px 1px #3a3535;
}
.header__hero-text h3 span {
  display: block;
  margin-top: 5px;
  transform-origin: top right;
  transform: rotate(-10deg);
  padding-right: 10px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
.header__hero-text h1 {
  font-size: 8rem;
  color: #fff;
}
.header__hero-text h1 span {
  position: relative;
  font-weight: 200;
  letter-spacing: 30px;
}
.header__hero-text h1 span::after {
  content: "NEW";
  position: absolute;
  top: 2px;
  left: -8px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 20px;
}
.header__hero-social {
  position: absolute;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50px;
}
.header__hero-social a {
  color: #fff;
  font-size: 2.5rem;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header__hero-social a i {
  position: relative;
  width: 100%;
  text-align: center;
}
.header__hero-social a i.fa-facebook::after, .header__hero-social a i.fa-twitter::after, .header__hero-social a i.fa-instagram::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 25px;
  background: #fff;
  width: 2px;
  height: 60px;
  z-index: 3;
}

@media screen and (max-width: 950px) {
  .header__hero-text h1 {
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 730px) {
  .header__hero-text h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 571px) {
  .header__hero-text h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 451px) {
  .header__hero-text {
    text-align: center;
  }
  .header__hero-text h1 {
    font-size: 4rem;
  }
  .header__hero-text h1 span {
    display: block;
    letter-spacing: normal;
    font-weight: 600;
    color: #fff;
  }
  .header__hero-text h1 span::after {
    display: none;
  }
  .header__hero-social {
    position: absolute;
    left: 0;
    align-items: flex-end;
    justify-self: flex-end;
    bottom: 2px;
    flex-direction: row;
    width: calc(100% - 100px);
    margin: auto;
  }
  .header__hero-social a {
    height: 40px;
  }
  .header__hero-social a i {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .header__hero-social a i.fa-facebook::after, .header__hero-social a i.fa-twitter::after, .header__hero-social a i.fa-instagram::after {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .header__hero-text {
    text-align: center;
  }
  .header__hero-text h1 {
    font-size: 3.5rem;
  }
  .header__hero-text h1 span {
    display: block;
    letter-spacing: 100%;
  }
  .header__hero-text h1 span::after {
    display: none;
  }
  .header__hero-text .sub-header {
    word-wrap: break-word;
  }
  .header__hero-social {
    width: calc(100% - 10px);
  }
}
.featured {
  background: #fff;
  padding-left: 60px;
  padding-right: 60px;
}

.item {
  position: relative;
  width: 400px !important;
  height: 400px !important;
  padding: 20px 5px;
  overflow: hidden;
}
.item figcaption {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: brown;
  font-size: 2rem;
  color: #fff;
  padding: 2px 5px;
}
.item p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  background: #000;
  padding: 2px 5px;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.item form {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.item form button {
  outline: none;
  border: none;
  color: orangered;
  font-weight: 600;
  font-size: 1.5rem;
  background: transparent;
  display: inline-block;
  width: 130px;
  margin: auto;
}
.item form button:hover {
  color: #992900;
}
.item img {
  width: calc(100% -50px);
  margin: auto;
  height: 90%;
  object-fit: contain;
}

.slick-active:focus {
  border: none !important;
  outline: none !important;
}

@media screen and (max-width: 500px) {
  .featured {
    padding-left: 20px;
    padding-right: 20px;
  }
  .featured .item {
    position: relative;
    width: 300px !important;
    height: 300px !important;
  }
  .featured figcaption {
    left: 35px;
  }
}
@media screen and (max-width: 300px) {
  .featured {
    width: 100%;
  }
  .featured .item {
    width: 250px !important;
    height: 250px !important;
  }
  .featured figcaption {
    left: 35px;
  }
}
.products {
  background: #fff;
}
.products__name {
  position: absolute;
  bottom: 30px;
  left: 2px;
  background: brown;
  font-size: 1.8rem;
  color: #fff;
  padding: 2px 5px;
}
.products__price {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 2px;
  background: #000;
  padding: 2px 5px;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.products__grid {
  display: grid;
  grid-template: repeat(7, 8vw)/repeat(8, 1fr);
  column-gap: 1.5rem;
  row-gap: 3rem;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.products__grid form {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.products__grid form button {
  outline: none;
  border: none;
  color: orangered;
  font-weight: 600;
  font-size: 1.5rem;
  background: transparent;
  display: inline-block;
  width: 130px;
  margin: auto;
}
.products__grid form button:hover {
  color: #992900;
}
.products__grid img {
  width: 100%;
  height: calc(100% - 50px);
  object-fit: contain;
  display: block;
}
.products__grid figure {
  position: relative;
  background: rgba(245, 229, 229, 0.7);
}
.products__grid-item-1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.products__grid-item-2 {
  grid-row: 1/span 3;
  grid-column: 3/span 2;
}
.products__grid-item-3 {
  grid-row: 1/span 2;
  grid-column: 5/7;
}
.products__grid-item-4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.products__grid-item-5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.products__grid-item-6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.products__grid-item-7 {
  grid-row: 5/8;
  grid-column: 5/7;
}
.products__grid-item-8 {
  grid-row: 3/span 2;
  grid-column: 5/span 2;
}
.products__grid-item-9 {
  grid-row: 3/span 3;
  grid-column: 7/-1;
}
.products__grid-item-10 {
  grid-row: 6/span 2;
  grid-column: 7/-1;
}
.products__grid-item-11 {
  grid-row: 6/span 2;
  grid-column: 1/span 2;
}
.products__grid-item-12 {
  grid-row: 6/span 2;
  grid-column: 3/5;
}

@media screen and (max-width: 950px) {
  .products__grid {
    display: flex;
    flex-wrap: wrap;
  }
  .products__grid figure {
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 755px) {
  .products__grid figure {
    width: 250px;
  }
}
@media screen and (max-width: 555px) {
  .products__grid figure {
    width: 100%;
    height: 300px;
  }
}

/*# sourceMappingURL=home.css.map */
