.medium-header {
   margin-bottom: 60px;

   h2 {
      font-size: 3rem;
      font-weight: 400;
   }
}

.ptb {
   padding-top: 50px;
   padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
   .medium-header {
      h2 {
         font-size: 2.5rem;
      }
   }
}
