@import "./color";

.footer {
   padding: 40px 10px;

   &__logo {
      font-family: "Pacifico", cursive;
      font-size: 3rem;
      width: 100%;
      text-align: left;
   }

   hr {
      margin: 20px 0;
   }

   &__copyright {
      text-align: center;
      font-size: 1.5rem;
      opacity: 0.6;

      .logo {
         color: $orangered;
         font-style: italic;
         padding-left: 5px;
         padding-right: 5px;
      }
   }
}

.footer-dark {
   background: $ashBlack;
   color: $white;
}

.footer-light {
   background: darken($white, 2%);
   color: black;
}
