.header {
   position: relative;

   &__banner {
      background: black;
      padding: 10px;
      display: flex;
      align-items: center;

      a {
         text-decoration: none;
         color: white;
      }

      &-logo {
         width: calc(100% - 180px);

         a {
            font-family: "Pacifico", cursive;
            font-size: 2rem;
         }
      }

      &-auth {
         width: 140px;

         a {
            font-size: 1.5rem;

            &:hover {
               color: wheat;
            }
         }
      }

      &-cart {
         width: 40px;

         a {
            font-size: 2.5rem;
         }
      }
   }

   &__hero {
      position: relative;
      background-image: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
         ),
         url(../img/heroBG.jpg);
      background-position: 20% center;
      background-size: cover;
      width: 100%;
      height: 500px;
      display: flex;
      overflow: hidden;

      &-nav {
         width: 100%;
         height: 50px;
         position: absolute;
         text-align: center;
         background: rgba(26, 25, 25, 0.3);
         z-index: 2;
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;

         a {
            color: white;
            font-weight: 600;
            font-size: 1.4rem;
            text-decoration: none;

            &:not(:last-child) {
               margin-right: 15px;
            }

            &:hover {
               color: wheat;
            }
         }
      }

      &-text {
         width: 100%;
         text-align: center;
         align-self: center;
         color: white;
         padding: 0 5px;

         p {
            font-size: 2rem;
            font-weight: bold;
         }

         h3 {
            font-size: 2.2rem;
            font-weight: 600;
            font-style: italic;
            position: absolute;
            top: 50px;
            left: 0;
            background: orangered;
            padding: 5px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 120px;
            z-index: 1;

            &::before {
               position: absolute;
               top: 0;
               content: "";
               width: 90%;
               height: 121px;
               z-index: -1;
               background: transparent;
               box-shadow: 0 1px 10px 1px rgb(58, 53, 53);
            }

            span {
               display: block;
               margin-top: 5px;
               transform-origin: top right;
               transform: rotate(-10deg);
               padding-right: 10px;
               -webkit-transform: rotate(-10deg);
               -moz-transform: rotate(-10deg);
               -ms-transform: rotate(-10deg);
               -o-transform: rotate(-10deg);
            }
         }

         h1 {
            font-size: 8rem;
            color: white;

            span {
               position: relative;
               font-weight: 100;
               letter-spacing: 30px;

               &::after {
                  content: "NEW";
                  position: absolute;
                  top: 2px;
                  left: -8px;
                  color: white;
                  font-weight: 200;
                  letter-spacing: 20px;
               }
            }
         }
      }

      &-social {
         position: absolute;
         right: 3px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         height: 100%;
         width: 50px;

         a {
            color: white;
            font-size: 2.5rem;
            width: 100%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            i {
               position: relative;
               width: 100%;
               text-align: center;

               &.fa-facebook::after,
               &.fa-twitter::after,
               &.fa-instagram::after {
                  position: absolute;
                  content: "";
                  top: 40px;
                  left: 25px;
                  background: white;
                  width: 2px;
                  height: 60px;
                  z-index: 3;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 730px) {
   .header {
      &__hero {
         &-text {
            h1 {
               font-size: 6rem;
            }
         }
      }
   }
}

@media screen and (max-width: 571px) {
   .header {
      &__hero {
         &-text {
            h1 {
               font-size: 4rem;
            }
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .headerer {
      &__hero {
         &-nav {
            display: flex;
            flex-direction: column;

            a {
               margin: 0;

               &:not(:last-child) {
                  margin-bottom: 10px;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 451px) {
   .header {
      &__hero {
         &-text {
            text-align: center;
            h1 {
               span {
                  display: block;
                  letter-spacing: normal;
                  font-weight: 600;
                  color: white;

                  &::after {
                     display: none;
                  }
               }

               font-size: 4rem;
            }
         }
         &-social {
            position: absolute;
            left: 0;
            align-items: flex-end;
            justify-self: flex-end;
            bottom: 2px;
            flex-direction: row;
            width: calc(100% - 100px);
            margin: auto;

            a {
               height: 40px;

               i {
                  position: relative;
                  width: 100%;
                  text-align: center;

                  &.fa-facebook::after,
                  &.fa-twitter::after,
                  &.fa-instagram::after {
                     display: none;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 350px) {
   .header {
      &__banner {
         &-logo a,
         &-auth a {
            font-size: 1.5rem;
         }
      }

      &__hero {
         &-text {
            text-align: center;
            h1 {
               span {
                  display: block;
                  letter-spacing: 100%;

                  &::after {
                     display: none;
                  }
               }

               font-size: 3.5rem;
            }

            .sub-header {
               word-wrap: break-word;
            }
         }
         &-social {
            width: calc(100% - 10px);
         }
      }
   }
}

@media screen and (max-width: 310px) {
   .header {
      position: relative;

      &__banner {
         flex-direction: column;

         div {
            text-align: center;
            width: 100%;
            padding: 8px 5px;
         }
      }
   }
}
