extends ../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/headerNav.css")

block contents

  .header
    include ../includes/headerNav.pug

  .container-fluid.px-5.ptb.mt-5
    .row
      .col-12.text-center
        h1.display-1.text-danger.font-weight-bold 404
        h2.display-3 Sorry!
          p.h3.font-weight-light The page you are looking for might be removed or temporarily unavailable.
          button.btn.btn-outline-light.btn-lg.mt-3.py-4
            a(href="/home" class="text-dark text-decoration-none font-weight-bold ") Go Back Home
