extends ../layout/layout.pug

block contents

  form(action="/admin/add-product" method="post")
    div.form-group
      input(type="text" name="title" id="title" placeholder="Product Name")

    div.form-group
      label(for="tag") Tag
      input(type="text" name="tag" id="tag" placeholder="eg Women, Men, Babies etc")

    div.form-group
      p Feature Product
      label(for="feature-yes")
        input(type="checkbox" name="feature" id="feature-yes" value="yes")
        span Yes 

      label(for="feature-no")
        input(type="checkbox" name="feature" id="feature-no" value="no")
        span No

    div.form-group
      label(for="product-image") Product Image
      input(type="file" name="product-image" id="product-image")

    div.form-group
      button(type="submit") Upload Product

  include ../includes/footer.pug
