<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FASHIONIT | HOME </title>

  <!-- FONT AWESOME CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- FONT CDN -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <!-- SLICK CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="/assets/css/slick-theme.css">

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/loader.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
  <!-- PRE LOADER -->
  <div class="loader">
    <div class="loader-grid left"></div>
    <div class="loader-grid right"></div>
    <div class="loader-grid left-right"></div>
    <div class="loader-grid right-left"></div>
    <div class="loader-container">
      <div class="lds">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- HEADER SECTION -->
  <header class="header">
    <div class="header__banner">
      <div class="header__banner-logo">
        <a href="#">FASHIONIT</a>
      </div>
      <div class="header__banner-auth text-center">
        <a href="/register">Log in | Signup</a>
      </div>
      <div class="header__banner-cart text-center">
        <a href="/checkout">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="header__hero">
      <nav class="header__hero-nav">
        <a href="/shop">SHOP</a>
        <a href="/checkout">CHECKOUT</a>
        <a href="/about">CONTACT</a>
      </nav>
      <div class="header__hero-social social">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
      </div>
      <div class="header__hero-text">
        <p class="sub-header">TRENDING COLLECTION</p>
        <h1 class="main-header"><span>NEW</span> ARRIVAL</h1>
        <h3 class="discount">50% <span>OFF</span></h3>
      </div>
    </div>
  </header>

  <!-- FEATURED SECTION -->
  <section class="featured ptb">
    <div class="featured__header medium-header text-center">
      <h2>FEATURED PRODUCTS</h2>
    </div>
    <div class="slick">
      <figure class="item">
        <img src="assets/img/products/men/grey-shirt.png" alt="" />
        <figcaption class="products__name text-center">GREY SHIRT</figcaption>
        <p class="products__price">$20</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="item">
        <img src="assets/img/products/women/red-gown.png" alt="" />
        <figcaption class="products__name text-center">RED GOWN</figcaption>
        <p class="products__price">$100</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="item">
        <img src="assets/img/products/men/scott-backpack.png" alt="" />
        <figcaption class="products__name text-center">SCOTT BACKPACK</figcaption>
        <p class="products__price">$50</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="item">
        <img src="assets/img/products/women/blue-gown.png" alt="" />
        <figcaption class="products__name text-center">BLUE GOWN</figcaption>
        <p class="products__price">$200</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
    </div>
  </section>

  <!-- PRODUCTS SECTION -->
  <section class="products ptb">
    <div class="products__header medium-header text-center">
      <h2>PRODUCTS</h2>
    </div>
    <div class="products__grid">
      <figure class="products__grid-item-1">
        <img src="assets/img/products/men/red-polo.png" alt="" />
        <figcaption class="products__name text-center">RED POLO</figcaption>
        <p class="products__price">$60</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-2">
        <img src="assets/img/products/women/floral-gown.png" alt="" />
        <figcaption class="products__name text-center">FLORAL DRESS</figcaption>
        <p class="products__price">$120</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-3">
        <img src="assets/img/products/men/wallet.png" alt="" />
        <figcaption class="products__name text-center">WALLET</figcaption>
        <p class="products__price">$40</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-4">
        <img src="assets/img/products/women/blue-jean.png" alt="" />
        <figcaption class="products__name text-center">BLUE JEAN</figcaption>
        <p class="products__price">$80</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-5">
        <img src="assets/img/products/women/jade-necklace.png" alt="" />
        <figcaption class="products__name text-center">JADE NECKLACE</figcaption>
        <p class="products__price">$180</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-6">
        <img src="assets/img/products/men/brown-belt.png" alt="" />
        <figcaption class="products__name text-center">BELT</figcaption>
        <p class="products__price">$30</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-7">
        <img src="assets/img/products/women/pink-lipstick.png" alt="" />
        <figcaption class="products__name text-center">LIP GLOSS</figcaption>
        <p class="products__price">$55</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-8">
        <img src="assets/img/products/women/slippers.png" alt="" />
        <figcaption class="products__name text-center">SLIPPERS</figcaption>
        <p class="products__price">$25</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-9">
        <img src="assets/img/products/men/black-shirt.png" alt="" />
        <figcaption class="products__name text-center">BLACK SHIRT</figcaption>
        <p class="products__price">$49.59</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-10">
        <img src="assets/img/products/men/nike-shoe.png" alt="" />
        <figcaption class="products__name text-center">NIKE</figcaption>
        <p class="products__price">$200</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-11">
        <img src="assets/img/products/men/white-shirt.png" alt="" />
        <figcaption class="products__name text-center">WHITE SHIRT</figcaption>
        <p class="products__price">$65</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
      <figure class="products__grid-item-12">
        <img src="assets/img/products/women/leather-brown.png" alt="" />
        <figcaption class="products__name text-center">LEATHER BAG</figcaption>
        <p class="products__price">$215</p>
        <button class="add-to-cart-btn" data-id="">ADD TO CART</button>
      </figure>
    </div>
  </section>

  <!-- FOOTER SECTION -->
  <footer class="footer text-center">
    <small>&copy; copyright <b>Fashionit</b> 2020</small>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
  <script src="/assets/js/loaderHero.js"></script>
  <script>
    $(window).on('load', function () {
      $('.slick').slick({
        dots: true,
        infinite: true,
        autoplay: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        centerMode: true,
        variableWidth: true
      });
    })

  </script>
</body>

</html>